body {
    background-color:rgb(185, 183, 218);
    padding: 20% 10% 10% 20%;
}
a {
    padding: 5px;
    background-color: rgba(120, 107, 231, 0.356);
    color: white;
    margin: 1px;
    border: 5px;
}
p {
     color: white;
     font-size:larger;
}